*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {  
  font-style: italic;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f8add9, #fdd76e);
    background-size: 200% 200%;
    animation: gradientAnimation 4s ease infinite;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.content {
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

header{
    position: absolute;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    background-color: #18181846;
    border-radius: 25px;
    backdrop-filter: blur(20px);
}

.logo{
    width: 175px;
    pointer-events: none;
    margin-bottom: 25px;
}

#text {
    position: absolute;
    font-size: 6em;
    color: #c2a156;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    pointer-events: none;
}

.sec{
    position: relative;
    background: #FCAEBB;
    padding: 100px;
}

.sec h2 {
    font-size: 4em;
    color: #ffffff;
    margin-bottom: 25px;
}
.sec p {
    font-size: 2em;
    color: white;
    font-weight: 300;
}

.divisionimg {
    position: absolute;
    display: flex;
    width: 80%;
    height: 50%;
    margin-top: 30px;
    border-radius: 25px;
    background-color: aliceblue;
}

button {
    position: relative;
    padding: 12px 35px;
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #fec195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fde268);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fde268);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #c2a156);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #c2a156);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #c2a156);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #c2a156);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #ffffff;
    box-shadow: 0 0 25px #fec1958c;
    transform: scale(1.05);
}
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #c2a156);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #c2a156);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #c2a156);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #c2a156);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #c2a156);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #c2a156);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }
  
  .banner {
    margin-top: 170px;
    margin-bottom: 70px;
    width: 1000px;
    height: 356px; 
    position: relative;
    overflow: hidden;
}

.banner-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: slideAnimation 12s infinite; 
}

.banner-slide img {
  border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideAnimation {
    0% {
        opacity: 1;
    }
    33.33% {
        opacity: 0;
    }
    66.66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.banner-slide:nth-child(1) {
    animation-delay: 0s;
}

.banner-slide:nth-child(2) {
    animation-delay: 4s;
}

.banner-slide:nth-child(3) {
    animation-delay: 8s; 
}


  .logo1{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .banersito{
    border-radius: 25px;
    width: 70%;
    margin-bottom: 100px;
    }

    .blurred-div {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: auto;
      background: rgba(255, 255, 255, 0.418); 
      backdrop-filter: blur(20px);
      border-radius: 15px;
      padding: 20px;
      color: white;
      text-align: center;
      font-size: 20px;
  }


  .image-container {
    width: 18%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-container img {
    display: block;
    width: 100%;
    height: 100%;
    height: auto;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.3) rotate(7deg); 
    filter: brightness(1.2) contrast(1.1); 
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: opacity 0.5s ease;
    opacity: 0;
}

.image-container:hover::before {
    opacity: 1;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}

.image-container:hover .image-text {
    opacity: 1;
}

footer {
  border-radius: 20px;
  margin-top: 100px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.418);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-icon img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.social-icon:hover img {
  transform: scale(1.2);
}

.social-media {
  display: flex;
  flex-direction: column; 
}

.social-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px; 
}

.social-icon {
  width: 70px;
  height: 70px;
  margin-right: 10px; 
}

.map-container {
  width: 50%;
  max-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.tipo-servicio{
  width: 60%;
  height: 30%;
  margin-bottom: 80px;
  border-radius: 25px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.418);
}

main {
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-photo {
  text-align: center;
  margin: 20px 0;
}

.team-photo img {
  width: 60%;
  height: auto;
  border-radius: 10px;
}

h1, h2 {
  color: #444;
}

.benefits ul {
  list-style-type: disc;
  margin: 20px 0;
  padding-left: 20px;
}

main {
  margin-top: 20px ;
  padding: 40px 0;
}

.container-1 {
  margin-top: 100px;
  padding: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  backdrop-filter: blur(20px);
  background-color: #18181846 ;
  border-radius: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  padding: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  backdrop-filter: blur(20px);
  background-color: #18181846 ;
  border-radius: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  color: #000000; 
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.7em;
}

h2 {
  font-size: 2.0em;
  color: #000000; 
}

p, ul {
  font-family: 'italic', sans-serif;
  color: #fffafa;
  line-height: 1.8;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.benefits ul {
  list-style-type: none;
  padding: 0;
}

.benefits li {
  backdrop-filter: blur(10px);
  background: #ffffff77;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.benefits li strong {
  color: #333;
}

.catalogo {
  margin-top: 150px;
  text-align: center;
  width: 90%;
  max-width: 800px;
  background-color: #75757593;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}

.imagen-principal img {
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.imagen-principal img:hover {
  transform: scale(1.05);
}

.galeria {
  display: none;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.galeria.mostrar {
  display: flex;
}

.galeria img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}

.qr{
  border-radius: 15px;
  margin-bottom: 30px ;
}